<body class="about-image">
<div class="text-white">
<h1>About</h1>
<p>
	Incomer is an application for you to check and share salary.
</p>
<h2>Why share?</h2>
<ul>
	<li>
		Understand about the market.
	</li>
	<li>
		Know what you should be paid.
	</li>
	<li>
		Satisfy your curiosity.
	</li>
</ul>
</div>
</body>